@import 'icon-plus.styl';//styl中引用的作用域为当前的文件，不会对引用该文件的文件造成影响
icon-close(wrapwidth = 20px,thick = 2px)
  icon-plus(thick,wrapwidth)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform rotate(45deg)
  cursor pointer