link(rel="stylesheet" href="/libs/stylus/component/popUp/style.css")

#chapterOneAlert(v-if='alertFlag' @click='alertFlag=false')
  .alert
    .content
      .warning-text(:class="{'last-chapter':chapter_id==chapterTotal-1}")










