link(rel='stylesheet' href='/font/fonts/font.css')
link(rel='stylesheet' href='/libs/stylus/component/reader/footer.css')
footer#footer(v-show='topBottomFlag')
  ul
    li.item
      i.icon.icon-catalog
    li.item(@click='toggleFontPannel')
      i.icon.icon-Aa
    li.item(@click='toggleDayNight')
      i.icon.change-style(:class="{'icon-sun':nightFlag==true,'icon-moon':nightFlag==false}")
  .pannel.pannel-Aa(:class="{hide:hidepannel}")
    dl.font
      dt 字号
      dd: span.enlarge(@click='enlargeFontSize()') 大
      dd: span.diminish(@click='enlargeFontSize(-1)') 小
      dd: span.reset(@click="enlargeFontSize(0)") 重置
    dl.bg-color(v-if='!nightFlag')
      dt 背景
      dd: span.pinklight(@click='changeBgColor($event)')
      dd: span.yellowlight(@click='changeBgColor($event)')
      dd: span.white(@click='changeBgColor($event)')
      dd: span.greenlight(@click='changeBgColor($event)')
      dd: span.bluelight(@click='changeBgColor($event)')






