link(rel='stylesheet' href='/libs/stylus/component/reader/page-turning.css')

ul.page-turning
  li.item.last-page(@click='prevChapter($event)') 上一章
  li.line
  li.item.next-page(@click='nextChapter($event)') 下一章