extends ../layout
block style
  link(rel='stylesheet' href='/libs/stylus/pages/reader/main.css')

block content
  include ../component/reader/header

  #container(v-bind:class='{night:nightFlag}' v-bind:style="{'background-color':bgColor}" @click='toggleTopBottom()' )
    h1 #{book.t}
    section
      each item in book.p
        p(v-bind:style="{'font-size':passageFontSize}") #{item}
    include ../component/reader/page-turning

  include ../component/reader/footer

block script
  script(src='/libs/js/zepto/main.js')
  script(src='/libs/js/vuejs/reader.js')
