box-shadow-around(shadow-width, shadow-blur, shadow-color)
  box-shadow shadow-width 0 shadow-blur shadow-color, 0 shadow-width shadow-blur shadow-color, (- shadow-width) 0px shadow-blur shadow-color, 0px (- shadow-width) shadow-blur shadow-color