color-bg(color-bg-name,color-bg-val)
  .{color-bg-name}
    background-color color-bg-val

color-bg('green', #46ff69)
color-bg('greenlight', #dbffcf)
color-bg('blue', #5987ff)
color-bg('bluelight', #dadbff)
color-bg('yellow', #f4ff3f)
color-bg('yellowlight', #fffdc5)
color-bg('red', #ff1214)
color-bg('redlight', #ff635c)
color-bg('black', #121312)
color-bg('gree', #7c837c)
color-bg('white', #ffffe9)
color-bg('orange', #ff5202)
color-bg('orangelight', #ffa579)
color-bg('pink', #ff9b9e)
color-bg('pinklight', #ffd1d6)