header-height = 60px
font-color = #e7e7e7
#header
  font-weight 500
  position absolute
  left 0
  right 0
  top 0
  height header-height
  z-index 1
  background-color rgba(34, 34, 34, 0.95)

  .back-wrap
    margin-left 5%
    height 100%
    float left
    .back
      display block
      height 100%
      color font-color
      back-icon-cicleWidth = 20px
      back-icon-arrowWidth = 8px
      .back-icon
        line-height header-height
        display inline-block
        vertical-align 6px
        width back-icon-cicleWidth
        height @width
        border 2px solid
        border-radius 50%
        &:before
          position relative
          left 50%
          top 50%
          content ''
          display inline-block
          width back-icon-arrowWidth
          height @width
          border 2px solid
          border-top-color transparent
          border-right-color transparent
          -webkit-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%)
          -moz-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%)
          -o-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%)
          -ms-transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%)
          transform translate(-50%, -50%) rotateZ(45deg) translate(12.5%, -12.5%)

      .back-text
        margin-left 10px
        line-height header-height